.wrapper {
    max-width: 90%;
    margin: 0 auto;
}

.columns {
    display: flex;
    gap: 20px;
}

.grid_goods {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 16px 24px;
}

.filters {
    min-width: 250px;
}